<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html"/>
<body>
    <nav th:include="common/navbar"></nav>
    <h1 th:text="${keeper.name}"></h1>
    <p th:text="${keeper.surname}"></p>
    <p th:text="${keeper.address}"></p>
    <p th:text="${keeper.email}"></p>

    <script th:inline="javascript">
        function setCookie(name, value, hours) {
          let expires = "";
          if (hours) {
            let date = new Date();
            date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
      var keeperName = [[${keeper.username}]];
      setCookie("username", keeperName, 12)
    </script>
</body>