<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html"/>
<body>
    <nav th:include="common/navbar"></nav>
    <h1 th:text="${keeper.name}"></h1>
    <p th:text="${keeper.surname}"></p>
    <p th:text="${keeper.address}"></p>
    <p th:text="${keeper.email}"></p>

    <script th:inline="javascript">
      var keeperName = [[${keeper.username}]];
      var expirationTime = new Date(Date.now() + 2 * 60 * 60 * 1000).toUTCString(); // 2 hours in the future
      document.cookie = "keeper_name=" + keeperName + "; expires=" + expirationTime;
    </script>
</body>