<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head th:include="common/head.html" />

<body>
    <nav th:include="common/navbar"></nav>

    <div style="margin: 2rem">
        <h1>Animal Data</h1>
        <form action="#" th:action="@{/animals/add}" th:object="${animal}" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div>
                <label for="adoptDate">Adopt Date</label>
                <input type="date" id="adoptDate" th:field="*{adoptDate}" />
                <div th:if="${#fields.hasErrors('adoptDate')}" th:errors="*{adoptDate}"></div>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" th:field="*{description}"></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" id="image" th:field="*{image}" />
                <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
            </div>
            <div>
                <label for="specie">Species</label>
                <select id="specie" th:field="*{specie}">
                    <option th:each="specie : ${species}" th:value="${specie.id}" th:text="${specie.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('specie')}" th:errors="*{specie}"></div>
            </div>
            <div>
                <label for="keepers">Keepers</label>
                <select id="keepers" th:field="*{keepers}">
                  <option th:each="keeper : ${keepers}" th:value="${keeper.id}" th:text="${keeper.name} + ' ' + ${keeper.surname}" th:selected="${keeper.id == currentId}"></option>
                </select>
                <div th:if="${#fields.hasErrors('keepers')}" th:errors="*{keepers}"></div>
            </div>
            <div>
                <label for="healthCard">Health Card</label>
                <select id="healthCard" th:field="*{healthCard}">
                    <option th:each="healthCard : ${healthCards}" th:value="${healthCard.id}" th:text="${healthCard.pesez}"></option>
                </select>
                <div th:if="${#fields.hasErrors('healthCard')}" th:errors="*{healthCard}"></div>
            </div>
<!--            <fieldset>-->
<!--                <legend>Animal's health</legend>-->
<!--                <div>-->
<!--                    <label for="pesez">PESEZ</label>-->
<!--                    <input type="text" id="pesez" th:field="*{healthCard.pesez}" />-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.pesez')}" th:errors="*{healthCard.pesez}"></div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="weight">Weight</label>-->
<!--                    <input type="number" id="weight" th:field="*{healthCard.weight}" />-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.weight')}" th:errors="*{healthCard.weight}"></div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="height">Height</label>-->
<!--                    <input type="number" id="height" th:field="*{healthCard.height}" />-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.height')}" th:errors="*{healthCard.height}"></div>-->
<!--                    </div>-->
<!--                <div>-->
<!--                    <label for="length">Weight</label>-->
<!--                    <input type="number" id="length" th:field="*{healthCard.length}" />-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.length')}" th:errors="*{healthCard.length}"></div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="bornDate">Born Date</label>-->
<!--                    <input type="date" id="bornDate" th:field="*{healthCard.bornDate}" />-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.bornDate')}" th:errors="*{healthCard.bornDate}"></div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="gender">Gender</label>-->
<!--                    <select id="gender" th:field="*{healthCard.gender}">-->
<!--                        <option value=true>Male</option>-->
<!--                        <option value=false>Female</option>-->
<!--                    </select>-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.gender')}" th:errors="*{healthCard.gender}"></div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="description2">Description</label>-->
<!--                    <textarea id="description2" th:field="*{healthCard.description}"></textarea>-->
<!--                    <div th:if="${#fields.hasErrors('healthCard.description')}" th:errors="*{healthCard.description}"></div>-->
<!--                </div>-->
<!--            </fieldset>-->

            <div><input type="submit" value="Submit"></div>
        </form>
    </div>
</body>

</html>
