<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html"/>
<body>
    <nav th:include="common/navbar"></nav>
    <h1 th:text="${animal.name}"></h1>
    <p th:text="${animal.description}"></p>
    <p>Species: <span th:text="${animal.specie.name}"></span></p>
    <p>Type: <span th:text="${animal.specie.type}"></span></p>
    <p>Food: <span th:text="${animal.specie.food}"></span></p>
    <p>Habitat: <span th:text="${animal.specie.habitat}"></span></p>
    <p>Status: <span th:text="${animal.specie.status}"></span></p>
    <img th:src="${animal.specie.image}" alt="Animal image" />
</body>
</html>