<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/head.html"/>
<body>
<nav th:include="common/navbar"></nav>
<h1>Animals</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specie</th>
        <th>Keepers</th>
        <th>bornDate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.id}"></td>
        <td>
            <a th:href="@{'/animals/' + ${animal.id}}" th:text="${animal.name}"></a>
        </td>
        <td th:text="${animal.specie.name}"></td>
        <td>
            <span th:each="keeper : ${animal.keepers}" th:text="${keeper.name}"></span>
        </td>
        <td th:text="${animal.healthCard.bornDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>