<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head th:include="common/head.html" />

<body>
    <nav th:include="common/navbar"></nav>

    <div style="margin: 2rem">
        <div style="display:flex">
            <img th:src="${specie.image}" class="species-avatar" alt="Specie image" />
            <div style="margin-left: 2rem">
                <h2 th:text="${specie.name}"></h2>
                <div th:if="${loggedIn}">
                    <a th:href="@{'/species/update/' + ${specie.id}}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="info" style="display: flex">
            <div>
                <h3>Spice</h3>
                <p>Type: <span th:text="${specie.type}"></span></p>
                <p>Food: <span th:text="${specie.food}"></span></p>
                <p>Habitat: <span th:text="${specie.habitat}"></span></p>
                <p>Status: <span th:text="${specie.status}"></span></p>
                <p>Description: <span th:text="${specie.description}"></span></p>
            </div>
            <div>
                <h3>Animals</h3>
                <ul>
                    <li th:each="animal : ${animals}">
                        <a th:href="@{'/animals/' + ${animal.id}}" th:text="${animal.name}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>